# exemplos 5: listas e iteração

In [1]:
#importar o comando pythontutor para gerar os links de cada exemplo para o site de visualização
from python_tutor_magic import pythontutor

# lista

In [8]:
#%%pythontutor

t1=[1,2,3,4,5]
t1

[1, 2, 3, 4, 5]

# indexing

In [9]:
#%%pythontutor

t1=[42,72,53]

primeiro=t1[0]
#a indexação começa pelo 0

segundo=t1[1]

terceiro=t1[2]

ultimo=t1[-1]
penultimo=t1[-2]

t1, primeiro, segundo, terceiro, ultimo, penultimo

([42, 72, 53], 42, 72, 53, 53, 72)

In [10]:
#%%pythontutor

t1=[12,32,59,34,88,10,62,99]

uma_faixa=t1[1:4]
#começa no 1 e para antes do 4

do_comeco_ate_o_quarto=t1[:4]
#começa do começo para antes do 4

ate_o_penultimo=t1[:-1]
#começa do começo e para antes do ultimo

do_segundo_em_diante=t1[1:]
#começa do 1 e vai até o final

um_sim_um_nao=t1[::2]
#começa do começo e vai até o final com passo 2

tudo_ao_contrario=t1[::-1]
#começa do final e vai até o começo com passo -1

In [18]:
#%%pythontutor

lista=[11,22,33,44,55]

#revincular elemento
lista[0]=999

#apensar elemento
lista.append(888)

#estender com outra lista
lista.extend([777,666,555])

#remover elemento por indice
lista.pop(1)

lista

[999, 33, 44, 55, 888, 777, 666, 555]

# lista de listas

In [44]:
#representação de uma matriz
#(veremos mais adiante que o módulo numpy é mais adequado para isso)
ll=[[11,12],[21,22]]
ll

[[11, 12], [21, 22]]

# tupla
(agrupamentos, não confundir com lista)

In [30]:
#%%pythontutor

#tuplas são criadas quando se tenta atribuir dois ou mais objetos a um único nome
#separam-se os objetos por vírgula
t2=4,5,6

#podem ser usados parênteses para dar mais clareza
#em alguns contextos os parênteses se tornam obrigatórios para desambiguação
t1=(1,2,3)

#é possível forçãr uma tupla de um único elemento usando parênteses e uma vírgula solitária
t3=(7,)

t1,t2,t3

((1, 2, 3), (4, 5, 6), (7,))

# iterações

In [31]:
#%%pythontutor

for i in 1,2,3,4,5:
    print("repetição número",i)

repetição número 1
repetição número 2
repetição número 3
repetição número 4
repetição número 5

# função range

In [24]:
#%%pythontutor

n=8
for i in range(n):
    print("repetição número",i)

repetição número 0
repetição número 1
repetição número 2
repetição número 3
repetição número 4
repetição número 5
repetição número 6
repetição número 7

# operações com o contador

In [27]:
#%%pythontutor

lista=[]
n=8
for i in range(8):
    print('iteração',i)
    lista.append(i/7)
lista

iteração 0
iteração 1
iteração 2
iteração 3
iteração 4
iteração 5
iteração 6
iteração 7

[0.0,
 0.14285714285714285,
 0.2857142857142857,
 0.42857142857142855,
 0.5714285714285714,
 0.7142857142857143,
 0.8571428571428571,
 1.0]

# nested for

In [47]:
#%%pythontutor

for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

# exemplo

# iterações sobre elementos de listas

In [49]:
#%%pythontutor

for T in [10,20,30]:
    for P in [1,10,100]:
        print(T,P)

10 1
10 10
10 100
20 1
20 10
20 100
30 1
30 10
30 100

# construindo uma matriz com o nested for

In [45]:
#%%pythontutor
l=[]
for i in range(2):
    l.append([])
    for j in range(2):
        l[i].append((i,j))
l

[[(0, 0), (0, 1)], [(1, 0), (1, 1)]]

# while

In [74]:
n=8
for i in range(n):
    print('for',i)

n=8
i=0
while(i<n):
    print('while',i)
    i=i+1

for 0
for 1
for 2
for 3
for 4
for 5
for 6
for 7
while 0
while 1
while 2
while 3
while 4
while 5
while 6
while 7

# exemplo: bisseção

In [79]:
import math as m

#sin 0=0
#sin pi/2=1

res=1
tol=1e-14
x1=0
x2=m.pi/2
n=0
while(abs(res)>tol and n<100):
    n=n+1
    x=(x1+x2)/2
    f=m.sin(x)-.3
    if f>0:
        x2=x
    elif f<0:
        x1=x
    res=f
        
x,f,n

(0.30469265401539547, -1.942890293094024e-15, 45)

# comprehension

In [81]:
l1 = [i for i in range(3)]
l2 = [10*i +j for i in range(1,3) for j in range(1,3)]
l3 = [[10*i +j for i in range(1,3)] for j in range(1,3)]
l1,l2,l3

([0, 1, 2], [11, 12, 21, 22], [[11, 21], [12, 22]])

# Exercícios

# quantas vezes vair rodar esse nest ?

In [56]:
a=0
for i in range(3):
    for j in range(2):
        for k in range(5):
            a=a+1
#a

# fazendo um somatório

In [52]:
s=0
for i in [2,4,6,8,10,12]:
    s=s+i
s

42

* na prática temos a função sum pronta para isso

In [53]:
sum([2,4,6,8,10,12])

42

# fatorial

In [60]:
n=7

f=1 #f(0)=1
for i in range(n):
    f=f*(i+1)
f

5040

* tem uma função para isso também

In [61]:
from math import factorial
factorial(7)

5040

# achar máximo

In [63]:
l=[1,241,674,231,785,213]

n=len(l)

xmax=1
imax=0
for i in range(1,n):
    if l[i]>xmax:
        xmax=l[i]
        imax=i
        
xmax,imax

(785, 4)

* também tem uma função para isso

In [68]:
l=[1,241,674,231,785,213]
max(l), l.index(max(l))

(785, 4)